@page
@model SacramentMeetingPlanner.Pages.Meetings.IndexModel

@{
    ViewData["Title"] = "History";
}

<h1>History of Speakers and Topics</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].Speakers)
            </th>
            <th>
                Make Edits
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Meeting) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speakers)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
